<application>
  <component name="MybatisBuilder.application.config">
    <option name="accessToken" value="eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2ODA5NTA3MjgsInN0YXRlIjoie1wicHJpbmNpcGFsXCI6XCIwNWVhYTIzZC1hMjViLTQzMjMtODY0Ny04ZDk5NzZiOTg3MTVcIixcInNlY3JldEtleVwiOlwiZmQ2MzYwMmRhMGI5NGMyMDliNjMyMGVkMTYxMGMwMDNcIn0ifQ.MF9HpxvTrlg7zurdcDTkV-wKw9Zz8kt9Hb4e7OqfFzY" />
    <option name="deviceId" value="05eaa23d-a25b-4323-8647-8d9976b98715" />
    <option name="refreshToken" value="dbbb6995498b44db85702b41ef89442e" />
  </component>
</application>